@import "../../style/colours.scss";
@import "../../style/fonts.scss";

.signup-component-wrapper {
  margin: auto;
  max-width: 600px;
  text-align: center;
}

.signup-component-title {
  font-size: $font-size-bigger;
}

.signup-component-input {
  box-sizing: border-box;
  border: 1px solid $background-colour-dark;
  border-radius: 2px;
  font-family: $font-family-default;
  margin: 10px 20px;
  padding: 8px 6px;
  width: 100%;
}

.signup-component-button-submit {
  padding: 6px 10px;
}
